.App h4 {
  text-align: center;
  padding-bottom: 20px;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.List {
  list-style: none;
  display: flex;
  align-items: stretch;
  width: 70%;
  margin: 1rem auto;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.233); */
  padding: 0.5rem;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #e3f2fd;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}

.List:hover {
  transform: translateY(-7px);
  transition: 0.3s;
  box-shadow: 7px 12px 22px rgba(0, 0, 0, 0.5);
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 4rem auto;
}

.List-header {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  margin-top: 10px;
}

.List-header h5 {
  color: brown;
  font-weight: bold;
}

.List-img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.List-note {
  width: 30%;
  font-weight: 500;
  padding-right: 5px;
  /* padding-top: 30px; */
  /* text-align: left; */
}

.note {
  width: 50%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid grey;
}

::placeholder {
  color: grey;
}

.btn-delete {
  margin-right: 2px;
  border-radius: 120%;
  font-size: 0.1rem;
}
