.card {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #cfd8dc;
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  /* border: 0.1rem solid rgba(0, 0, 0, 0.233); */

  @media (width >= 800px) {
    width: 67%;
    flex-direction: row;
  }

  &:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 7px 12px 22px rgba(0, 0, 0, 0.5);
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    align-items: center;

    @media (width >= 800px) {
      width: 20%;
      flex-direction: column;
    }

    h6 {
      margin-left: 20px;
      color: brown;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;

      @media (width >= 800px) {
        margin-left: 0;
      }
    }
  }

  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    object-fit: cover;
  }

  &__occupation {
    width: 65%;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;

    @media (width >= 800px) {
      width: 27%;
      margin: 10px;
    }
  }

  &__note {
    width: 90%;
    margin: 10px auto;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;

    @media (width >= 800px) {
      width: 63%;
      border-left: 1px solid grey;
    }
  }
}
